* {
  border: 1px solid black;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div {
  height: 100%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72pt;
}

#clock {
  text-align: center;
}
